body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ot-div{
    background-color: grey;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    /* margin-left: 550px;
    margin-top: 50px; */
    margin:auto;
    margin-top: 30px;
    width: 350px;
    align-items: center;
    justify-content: center;

}

.in-div{
    background-color: bisque;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

.in-div :hover{
    background-color: red;
    color: white;
}
.btn{
    /* font-size: 3rem; */
    background-color: white;
    margin-right: 5px;
    margin: 4px 2px;
    padding: 5px 5px;
    height: 70px;
    width: 70px;
    border: 2px solid gray;
    border-radius: 18px;
}

.by{
    font-size: 24px;
    text-align: right;
    padding-top: 22px;
    padding-bottom: 10px;
    background-color: grey;
    color: white;
}
/* .in-div input{
    border: 1px solid beige;
}

.in-div input[type=text]:focus{
    border: 1px solid rgb(212, 212, 13);
    background-color: rgb(69, 215, 137);
} */

input {
    margin: 10px;
    outline: none;
    height:100px;
    width: 300px;
    border-radius: 5px;
  }
  